{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "react-redux",
    "react-hooks"
  ],
  "globals": {
    "fetch": false,
    "console": false,
    "document": false
  },

  "rules": {
	"react/prop-types": "off",
	"eqeqeq": "warn",
    "quotes": ["error", "double"],
    "react/no-set-state": "off",
    "max-len": [
      	  "warn", {
      		"code": 150,
      		"tabWidth": 2,
      		"ignoreUrls": true,
      		"ignoreComments": true,
      		"ignoreRegExpLiterals": true,
      		"ignoreStrings": true,
      		"ignoreTemplateLiterals": true
      	  }
      	]
  }
}