body{
    height: 100vh;
    background-color: #fbfbfb;
}

#react {
    height: 100%;
    margin-top: 60px;
    min-height: 100%;
}

html, body, #root {
    height: 100%;
}

footer{
    margin-top: auto
}