body{
    height: 100vh;
    background-color: #fbfbfb;
}

#react {
    height: 100%;
    margin-top: 60px;
    min-height: 100%;
}

html, body, #root {
    height: 100%;
}

.content-layout{
    min-height: calc(100vh - 320px);
}

.page-container{
    padding: 40px;
    margin-bottom: 100px;
}

footer{
    margin-top: auto
}