.admin-layout {
    min-height: calc(100vh - 210px);
    padding: 40px;
    margin-bottom: 100px;
}

.admin-layout-content{
    margin-top: 30px;
}

.admin-addButton-container{
    text-align: right;
}